dub.selections.json
__dummy.html
docs.json
/docs
/**/.dub/
*.a
*.o
/examples/**/build/
example
/bootDoc


*.ddoc

*.html

__test__library__

examples/normal_variance_mean_mixture/coordinate.txt

*.sublime-workspace
